.bg-black{
    margin-top: 0px;

}

.razoes{
    margin: 0px;
}
.razoes-title{
    text-align: center;
    font-size: 45px;
    font-weight: 400;
    padding-top: 80px;
    margin-bottom: 30px;
}
.razoes-list{
    display: flex;
    gap: 60px;
    padding: 30px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    /* justify-content: center; */
}
.razoes-list li{
    text-align: center;
    padding: 50px 70px;
    background-color: #000000;
    border: 1px solid #191a2d;
    border-radius: 8px;
    transition: transform 0.3s;
}

.razoes-list li:hover{
    transform: scale(1.2);
}
.razoes-list li p{
    font-weight: 600;
    font-size: 17.5px;
}

@media(max-width: 720px){
    .razoes-title{
        font-size: 35px;
    }
}